# Archivos de entorno y secretos
.env
.env.*

# Dependencias Python locales
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo

# Tests y herramientas de desarrollo
.pytest_cache
tests/
_*.py

# Control de versiones y metadatos
.git
.flake8
pytest.ini
.gitignore
.dockerignore
README.md
pytest.ini
